
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/cache /
/vendor/
/.docker/db
/.idea
###< symfony/framework-bundle ###
